<h1><%= @restaurant.name %></h1>

<p><%= @restaurant.address %></p>
<br>
<p><%= @restaurant.phone_number %></p>
<br>
<p><%= @restaurant.category %></p>

<%= link_to "Regresa a todos", restaurants_path %>
